Nutrition-App/.classpath
Nutrition-App/.project
Nutrition-App/bin/
Nutrition-App/.settings

Nutrition-App-Test/.classpath
Nutrition-App-Test/.project
Nutrition-App-Test/bin/
Nutrition-App-Test/*.log

Nutrition-App-Server/.classpath
Nutrition-App-Server/.project
Nutrition-App-Server/bin/

.metadata

